body {
    background-color: #f5b609; /* Sets the background color of the body */
    text-align: center; /* Centers the text within the body */
    margin-top: 50px; /* Adds a top margin of 50 pixels */
}

.menu-row {
    display: flex; /* Uses flexbox for layout */
    align-items: center; /* Centers the items vertically within the flex container */
    width: 100%; /* Sets the width to 100% */
    height: 125px; /* Sets the height to 125 pixels */
    position: fixed; /* Fixes the position of the menu row */
    z-index: 9999; /* Sets the stacking order of the element */
    padding: 5px 10px; /* Adds padding of 5 pixels on the top and bottom, and 10 pixels on the left and right */
    background-color: rgba(255, 255, 255, 1); /* Sets the background color with RGBA values */
    transition: all .25s ease; /* Adds a transition effect to all CSS properties with a duration of 0.25 seconds */
}

.menu {
    display: flex; /* Uses flexbox for layout */
    list-style: none; /* Removes the bullet points from the list */
    padding: 30px; /* Adds padding of 30 pixels to the menu */
}

/* Styles for navigation links */
.menu li a {
    color: #0d0d0d; /* Sets the color of the links */
    text-decoration: none; /* Removes the underline from the links */
    padding: 10px; /* Adds padding of 10 pixels to the links */
    border-radius: 5px; /* Adds a border radius of 5 pixels to the links */
    transition: all 0.5s ease; /* Adds a transition effect to all CSS properties with a duration of 0.5 seconds */
}

/* Styles for hovered navigation links */
.menu li a:hover {
    background-color: #0d0d0d; /* Sets the background color of the links on hover */
    color: #f7f7f7; /* Sets the color of the links on hover */
}

.poster-container {
    position: relative; /* Sets the position of the poster container */
    display: inline-block; /* Displays the poster container as an inline-block element */
}

.poster-image {
    width: 600px; /* Sets the width of the poster image */
    height: 700px; /* Sets the height of the poster image */
    border: 2px solid #333; /* Adds a 2-pixel solid border to the poster image */
}

.poster-text {
    position: absolute; /* Sets the position of the poster text */
    top: 50%; /* Aligns the poster text to the top at 50% from the top of the parent container */
    left: 0; /* Aligns the poster text to the left of the parent container */
    right: 0; /* Aligns the poster text to the right of the parent container */
    transform: translateY(-50%); /* Translates the poster text 50% upward to center it vertically */
    font-family: "Belanosima", sans-serif; /* Applies the specified font family to the poster text */
    text-align: center; /* Centers the text within the poster text container */
}

h1 {
    font-size: 77px; /* Sets the font size of the heading */
    margin-bottom: 0px; /* Sets the bottom margin of the heading to 0 pixels */
    font-weight: bold; /* Applies bold font weight to the
